:root
{
    --gray: #F3F3F3;
    --grayDark: #EAEAEA;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper 
{
    font-family: 'Roboto', sans-serif;
}

header 
{
    background-color: whitesmoke;
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

.layers 
{
    padding: 1rem;
    background-color: whitesmoke;
    margin-top: .5rem;
}

#result 
{
    text-align: center;
    margin-bottom: .5rem;
}

#clipboard 
{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    right: 0;
    top: 0;
}

#clipboard img 
{
    display: block;
    width: 2rem;
    height: 2rem;
    padding-top: .35rem;
    padding-left: .35rem;
}

#decimalNumber 
{
    margin: 0 auto;
    width: fit-content;
}

.input
{
    border-radius: 1rem;
    padding: .5rem;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

#convertButton 
{
    cursor: pointer;
}

#convertButton:hover
{
    background-color: var(--grayDark);
}

#binaryNumber
{
    padding: 1rem;
    border: 1px solid black;
    background-color: orange;
    text-align: center;
    max-width: 28rem;
    margin: 0 auto;
    position: relative;
}

#byte 
{
    position: relative;
    width: fit-content;
    background-color: var(--grayDark);
    display: flow-root;
    margin: 0 auto;
}

.nibble
{
    border: 1px solid black;
    padding: .1rem;
    position: relative;
    background-color: var(--grayDark);
}

.bit
{
    width: 6.1999rem;
    height: 6.1999rem;
    font-size: 5.425rem;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    display: inline-block;
    background-color: var(--gray);
}

.anima 
{
    animation-name: a;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

footer 
{
    text-align: center;
}

@keyframes a
{
    to 
    {
        transform: rotateX(180deg);
    }
}

@media screen and (max-width:466.5px) 
{
    #binaryNumber, #byte 
    {
        max-width: 100%;
        width: 100%;
        margin: initial;
    }

    .bit 
    {
        width: 25%;
    }
}

@media screen and (max-width:297.5px) 
{
   
    .input
    {
        width: 100%;
    }

    #number 
    {
        margin-bottom: .3rem;
    }
}